name: time app actions
env:
  MYSQL_ROOT_DATABASE : password
  MYSQL_DATABASE: time-db

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run docker container for mysql
      - uses: mirromutth/mysql-action@v1.1
        with:
          mysql database: ${{ env.MYSQL_ROOT_DATABASE }}
          mysql root password: ${{ env.MYSQL_DATABASE }}
      # - name: Create docker image backend
      #   run: docker build ./api --file Dockerfile time-backend
      # - name: Create docker image frontend
      #   run: docker build ./frontend --file Dockerfile time-frontend
